*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}
html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100%;
    
    background-color: rgb(10, 10, 10);
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
   left: 0;
    width: 100%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    
}

.logo{
    color: blue;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.2);
}
nav a{
    font-size: 1.8rem;
    color: white;
    transition: 0.5s ease;
    font-weight: 400;
    margin-left: 4rem;
    border-bottom: 3px solid transparent;
}

 nav a:hover{
    color: blue;
    border-bottom: 3px solid blue;
}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    
    background-color: black;
}

.content  h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}



.content-img img{
    position: relative;
    width: 70%;
    height: 50%;
    border-radius: 50%;
    border :0.2rem solid blue;
    box-shadow: 0 0 25px solid blue;
    cursor: pointer;
    transition: 0.2s linear;
    filter: drop-shadow(0 0 10px  white);
    
}



.icons a{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    font-size: 2rem;
    border: 0.2rem solid blue;
    border-radius: 50%;
    color: blue;
    margin: 3rem 1.5rem 3rem;
    transition: 0.5s ease;
}
.icons a:hover{
    color: black;
    transform: scale(1.2);
    background-color: blue;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: blue;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid blue;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    background-color: blue;
    color: black;
    box-shadow: 0 0 25px solid blue;

}

.content-text p{
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
}